body {
    font-family: sans-serif;
}

table {
    margin-bottom: 1em;
}

caption {
    font-weight: bold;
}

th {
    background-color: #9ab54f;
    color: #240;
}

td {
    background-color: #eee;
    color: #333;
}

caption, th, td {
    padding: 3px 5px;
}

.l {
    text-align: left;
}

.c {
    text-align: center;
}

.r {
    text-align: right;
}

.hl {
    background-color: #ddd;
}

.b {
    font-weight: bold;
}
