<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Geocaching Stats for <%=h geocacher_name %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="gcstats.css" media="screen" />
  <style type="text/css">/* %css% */</style>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script type="text/javascript" src="gcstats.js"></script>
  <script type="text/javascript">/* %js% */</script>
</head>
<body>

<%# {{{ cache finds %>
<table>
  <caption>Cache Finds</caption>
  <tr>
    <th class="l">Geocacher</th>
    <td class="hl b"><%=h geocacher_name %></td>
  </tr>
  <tr>
    <th class="l">Total</th>
    <td><%= total_finds %></td>
  </tr>
  <tr>
    <th class="l">Archived</th>
    <td><%= '%d (%s)' % [total_archived, format_percent(total_archived, total_finds)] %></td>
  </tr>
  <tr>
    <th class="l">Caches/Day</th>
    <td><%= finds_per_day %></td>
  </tr>
  <tr>
    <th class="l">Days cached</th>
    <td><%= finds_by_date.keys.size  %></td>
  </tr>
  <tr>
    <th class="l">Most in one day</th>
    <td><%= '%d (%s)' % [most_finds_in_a_day, most_finds_in_a_day_dates.join(', ')] %></td>
  </tr>
  <tr>
    <th class="l">Oldest cache</th>
    <td>
      <%= link_to_cache oldest_cache_found %>
      (<%=h oldest_cache_found.published.strftime('%Y-%m-%d') %>)
    </td>
  </tr>
  <tr>
    <th class="l">Newest cache</th>
    <td>
      <%= link_to_cache newest_cache_found %>
      (<%=h newest_cache_found.published.strftime('%Y-%m-%d') %>)
    </td>
  </tr>
</table>
<%# }}} %>

<%# {{{ milestones %>
<table class="highlight">
  <caption>Milestones</caption>
  <tr>
    <th>Milestone</th>
    <th>Date</th>
    <th>Days Passed</th>
    <th>Cache</th>
  </tr>
  <% milestones.each_with_index {|milestone, i| %>
    <tr>
      <td><%= milestone[:milestone] %></td>
      <td><%= milestone[:log].date.strftime('%Y-%m-%d') %></td>
      <td class="r"><%= i == 0 ? '-' : (milestone[:log].date - milestones[i - 1][:log].date).to_i %>
      <td><%= link_to_cache milestone[:cache] %></td>
    </tr>
  <% } %>
</table>
<%# }}} %>

<%# {{{ finds by day of week %>
<table class="highlight">
  <caption>Finds by Day of Week</caption>
  <tr>
    <th>Day</th>
    <th>Finds</th>
    <th>Percentage</th>
  </tr>
  <% finds_by_day_of_week.each_with_index {|finds, i| %>
    <tr>
      <td><%= DAY_NAME[i] %></td>
      <td class="finds r"><%= finds %></td>
      <td class="r"><%= format_percent(finds, total_finds) %></td>
    </tr>
  <% } %>
</table>
<%# }}} %>

<%# {{{ finds by year %>
<table class="highlight">
  <caption>Finds by Year</caption>
  <tr>
    <th>Year</th>
    <th>Finds</th>
    <th>Percentage</th>
  </tr>
  <% finds_by_year.keys.sort.reverse.each {|year| %>
    <tr>
      <td><%= year %></td>
      <td class="finds r"><%= finds = finds_by_year[year] %></td>
      <td class="r"><%= format_percent(finds, total_finds) %></td>
    </tr>
  <% } %>
</table>
<%# }}} %>

<%# {{{ finds by container size %>
<table>
  <caption>Finds by Container Size</caption>
  <tr>
    <th>Size</th>
    <th>Finds</th>
    <th>Percentage</th>
  </tr>
  <% finds_by_size.each {|size, finds| %>
    <tr>
      <td><%=h size %></td>
      <td class="r"><%= finds %></td>
      <td class="r"><%= format_percent(finds, total_finds) %></td>
    </tr>
  <% } %>
</table>
<%# }}} %>

<%# {{{ finds by cache type %>
<table>
  <caption>Finds by Cache Type</caption>
  <tr>
    <th>Type</th>
    <th>Finds</th>
    <th>Percentage</th>
  </tr>
  <% finds_by_type.each {|type, finds| %>
    <tr>
      <td><%=h type %></td>
      <td class="r"><%= finds %></td>
      <td class="r"><%= format_percent(finds, total_finds) %></td>
    </tr>
  <% } %>
</table>
<%# }}} %>

<%# {{{ finds by cache owner %>
<table>
  <caption>Finds by Cache Owner</caption>
  <tr>
    <th>Owner</th>
    <th>Finds</th>
    <th>Percentage</th>
  </tr>
  <% finds_by_owner.each {|owner, finds| %>
    <tr>
      <td><%=h owner %></td>
      <td class="r"><%= finds %></td>
      <td class="r"><%= format_percent(finds, total_finds) %></td>
    </tr>
  <% } %>
</table>
<%# }}} %>

<%# {{{ difficulty/terrain combinations %>
<table class="c highlight square">
  <caption>Difficulty/Terrain Combinations</caption>
  <tr>
    <th>D/T</th>
    <% (0..8).each {|i| %>
      <th style="width: 35px"><%= ((i + 2) / 2.0).to_s.sub('.0', '') %></th>
    <% } %>
    <th>Total</th>
  </tr>
  <% (0..8).each {|i| %>
    <tr>
      <th><%= ((i + 2) / 2.0).to_s.sub('.0', '') %></th>
      <% (0..8).each {|j| %>
        <td><%= (n = difficulty_terrain_combinations[i][j]) == 0 ? '' : n %></td>
      <% } %>
      <td class="total"><%= difficulty_terrain_combinations[i].sum %></td>
    </tr>
  <% } %>
  <tr class="total">
    <th>Total</th>
    <% (0..8).each {|i| %>
      <td><%= difficulty_terrain_combinations.map {|e| e[i] }.sum %></td>
    <% } %>
    <td><%= total_finds %></td>
  </tr>
</table>
<%# }}} %>

<%# {{{ month/day combinations %>
<table class="c highlight square">
  <caption>Month/Day Combinations</caption>
  <tr>
    <th>M/D</th>
    <% (1..31).each {|i| %>
      <th><%= '%02d' % i %></th>
    <% } %>
    <th>Total</th>
  </tr>
  <% (0..11).each {|i| %>
    <tr>
      <th><%= Date::ABBR_MONTHNAMES[i + 1] %></th>
      <% (0..30).each {|j| %>
        <td><%= (n = month_day_combinations[i][j]) > 0 ? n : (n < 0 ? '-' : '') %></td>
      <% } %>
      <td class="total"><%= month_day_combinations[i].map {|e| [e, 0].max }.sum %></td>
    </tr>
  <% } %>
  <tr class="total">
    <th>Total</th>
    <% (0..30).each {|i| %>
      <td><%= month_day_combinations.map {|e| [e[i], 0].max }.sum %></td>
    <% } %>
    <td><%= total_finds %></td>
  </tr>
</table>
<%# }}} %>

<%# {{{ finds by country %>
<table>
  <caption>Finds by Country</caption>
  <tr>
    <th>Country</th>
    <th>Finds</th>
    <th>Percentage</th>
  </tr>
  <% finds_by_country.sort {|a, b| b[1] <=> a[1] }.each {|country, finds| %>
    <tr>
      <td><%=h country %></td>
      <td class="r"><%= finds %></td>
      <td class="r"><%= format_percent(finds, total_finds) %></td>
    </tr>
  <% } %>
</table>
<%# }}} %>

<%# {{{ finds by state %>
<% finds_by_state.each {|country, states| %>
  <table>
    <caption>Finds by State in <%=h country %></caption>
    <tr>
      <th rowspan="2">State</th>
      <th rowspan="2">Finds</th>
      <th colspan="2">Percentage</th>
    </tr>
    <tr>
      <th>Country</th>
      <th>Total</th>
    </tr>
    <% country_finds = states.map {|s| s[1] }.sum %>
    <% states.sort {|a, b| b[1] <=> a[1] }.each {|state, finds| %>
      <tr>
        <td><%=h state %></td>
        <td class="r"><%= finds %></td>
        <td class="r"><%= format_percent(finds, country_finds) %></td>
        <td class="r"><%= format_percent(finds, total_finds) %></td>
      </tr>
    <% } %>
  </table>
<% } %>
<%# }}} %>

<%# {{{ finds by date %>
<table class="highlight">
  <caption>Finds by Date</caption>
  <tr>
    <th>Date</th>
    <th>Finds</th>
    <th>Days Passed</th>
  </tr>
  <% finds_dates.each_with_index {|date, i| %>
    <% days_passed = (date - (finds_dates[i + 1] || date)).to_i %>
    <tr>
      <td><%= date %></td>
      <td class="finds r"><%= finds_by_date[date] %></td>
      <td class="r"><%= days_passed == 0 ? '-' : days_passed %></td>
    </tr>
  <% } %>
</table>
<%# }}} %>

<p>Generated with <a href="http://github.com/agorf/gcstats">gcstats</a> on <%= Time.new %> in <%= '%.3f' % render_time %> seconds.</p>

</body>
</html>
